@use "./variables" as *;

button {
  background-color: $orange;
  color: $tealDarker;
  border: none;
  border-radius: 5px;
  width: 15vw;
  padding: 5px;
  align-self: center;
  cursor: pointer;
}

button:hover {
  background-color: $tealMedium;
  border-color: $tealGreen;
}
