@import url('https://fonts.cdnfonts.com/css/star-wars');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$lightBackground: #eae5d4;
$brownBackground: #2f1808;

$orange: #ae3232;
$gold: 	#a57b2b;


$lighterGreen: #ecf1c1;
$lightGreen: #a0a485;
$green: #525445;
$tealGreen: #34796a;
$tealMedium: #276460;
$tealDark: #28333c;
$tealDarker: #1f2731;

$regularText: 1rem; 
$bigText: 2rem;
$biggerText: 3rem;

$starFont: 'Star Wars', sans-serif;
$regularFont: 'Josefin Sans', sans-serif;
                                                