@use './variables' as *;
@use './button' as *;
@import '_button.scss';


body{
    background-color: $lightBackground;
    justify-content: center;
    font-size: $regularText;
    color: $tealMedium;
    font-family: $regularFont;
}