@use "./variables" as *;

.home_accordion_header button:not(.collapsed) {
  background-color: $green;
}
.home_accordion_header button:hover {
  background-color: $lightGreen;
}
.home_accordion_body {
  background-color: $lightGreen;
}

@media screen and (max-width: 750px) {
  header{
    margin-bottom: 70px;
  }
}