@use "./variables" as *;

.card {
  width: 90%;
  margin-left: 5vw;
  margin-bottom: 2vw;
  border-color: $gold;
  color: $gold;
  border-radius: 10px;
  background-color: $gold;
}

@each $index, $colors-list in $colors {
  @for $i from 1 through 5 {
    .title#{$index} {
      background-color: nth($colors-list, 1);
      margin: 0;
      padding: 10px;
    }

    .number#{$index} {
      background-color: nth($colors-list, 2);
      margin: 0;
      padding: 10px;
    }

    .director#{$index} {
      background-color: nth($colors-list, 3);
      margin: 0 !important; //important as bootstrap is applying margin bottom with !important
      padding: 10px;
    }

    .release#{$index} {
      background-color: nth($colors-list, 4);
      margin: 0 !important; //important as bootstrap is applying margin bottom with !important
      padding: 10px;
    }

    .text#{$index} {
      background-color: nth($colors-list, 5);
      margin: 0;
      padding: 10px;
    }
  }
}
