@use './variables' as *;

.card {
    width: 90%;
    // display: flex;
    text-align: justify;
    // align-items: center;
    margin-left: 5vw;
    margin-bottom: 2vw;
    // background-color: $lighterGreen;
    border-color: $gold;
    color: $gold;
}

.title1 {
    background-color: #47383d;
}
.number1 {
    background-color: #766468;
}
.director1 {
    background-color: #ac9696;
}
.release1 {
    background-color: #00c6f1;
}
.text1 {
    background-color: #c7cdd5;
}



.title2 {
    background-color: #373738;
}
.number2 {
    background-color: #744f3a;
}
.director2 {
    background-color: #c27e53
}
.release2 {
    background-color: #66999d;
}
.text2 {
    background-color: #c4c6b5;
}



.title3 {
    background-color: #494445;
}
.number3 {
    background-color: #c53900;
}
.director3 {
    background-color: #6f787e;
}
.release3 {
    background-color: #bda699;
}
.text3 {
    background-color: #e6e2de;
}



.title4 {
    background-color: #413639;
}
.number4 {
    background-color: #76676c;
}
.director4 {
    background-color: #008ed6;
}
.release4 {
    background-color: #aba2a4;
}
.text4 {
    background-color: #dddce6;
}



.title5 {
    background-color: #3f3336;
}
.number5 {
    background-color: #495a71;
}
.director5 {
    background-color: #b2836a;
}
.release5 {
    background-color: #5e90be;
}
.text5 {
    background-color: #b8cadc;
}



.title6 {
    background-color: #393337;
}
.number6 {
    background-color: #655e64;
}
.director6 {
    background-color: #2876b1;
}
.release6 {
    background-color: #9aa0a9;
}
.text6 {
    background-color: #d4dee8;
}