@use './variables' as *;
@use './button' as *;

header {
  width: 100%;
  height: 5rem;
  display: flex;
  padding: 0 10%;
  justify-content: space-around;
  align-items: center;
  background-color: $tealDark;
  font-family: $starFont;;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
}

nav a {
  text-decoration: none;
  color: $gold;
}

nav a:hover,
nav a:active,
nav a.active {
  color: $lightBackground;
  padding-bottom: 0.25rem;
  border-bottom: 5px solid $gold;
}

