@use "./variables" as *;

.planet_accordion {
  margin: 3px;
}
.planet_accordion_header {
  font-family: $starFont;
}
.planet_accordion_header button:not(.collapesed) {
  background-color: $teal;
}
.planet_accordion_body,
.planet_accordion_body th {
  background-color: $lightGreen;
}
.planet_accordion_body table {
  border-color: $gold;
}
