@use "./variables" as *;

.species_container {
  margin-bottom: 6vh;
}
.species_name,
.second_row {
  font-family: $starFont;
  color: $brownBackground;
}
.second_row {
  font-size: small;
}
.species_container th {
  background-color: $green;
}
